<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <p>Feel free to contact me anytime.</p>
    <form method="post" action="#">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
    <ul class="contact">
      <li class="fa-home">
        Room NO. 160, Hostel 3, IIT Bombay<br />
        Powai, 400076<br />
        India
      </li>
      <li class="fa-phone">9306348233</li>
      <li class="fa-envelope">dikshant1212hsr@gmail.com<a href="#"></a></li>
      <li class="fa-facebook">facebook.com/dikshant.shehmar<a href="#"></a></li>
      <li class="fa-instagram">instagram.com/?hl=en<a href="#"></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy;All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
